body {
    width: 100%;
    background-color: #fff;
    font: 14px "Microsoft YaHei", "SimSun", Helvetica, Arial, sans-serif, "微软雅黑";
    color: #4c4c4c;
    overflow-x: hidden;
}

.head {
    height: 118px;
    position: relative;
}

.box1_1 {
    width: 100%;
    height: 118px;
    position: relative;
    left: 50%;
    margin-left: -500px;
}

.logo {
    width: 187px;
}

.logo img {
    margin-top: 40px;
    height: 56px;
}

.nav {
    height: 70px;
    position: absolute;
    left: 300px;
    bottom: 0px;
}

.nav li {
    height: 70px;
    float: left;
    font-size: 14px;
    line-height: 70px;
    color: #333333;
    margin-left: 30px;
    position: relative;
}

.nav li:hover {
    height: 62px;
    border-bottom: solid 3px #005197;
}

.nav .title_1 {
    display: block;
    color: #333333;
}

.banner {
    width: 1600px;
    position: relative;
    margin-left: -800px;
    left: 50%;
    margin-top: -5px;
}

#compareBtn {
    position: fixed;
    right: 0;
    top: 50%;
    transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
}

#compareBtn:hover {
    transform: scale(1.2);
}

#compare {
    display: none;
}

.pointerA {
    cursor: pointer;
}

.popover {
    max-width: 600px;
}