<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="AAC">
    <meta name="description" content="AAC">
    <meta name="author" content="AAC">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/easyui.css}">
    <link rel="stylesheet" th:href="@{/css/icon.css}">
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/datagrid-transposedview.js}"></script>
    <script type="text/javascript" th:src="@{/js/datagrid.js}"></script>
    <script type="text/javascript" th:src="@{/js/tableExport.js}"></script>
    <script type="text/javascript" th:src="@{/js/xlsx.core.min.js}"></script>
    <title>Detail</title>
</head>



<body>
<div th:include="common"></div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <div th:replace="menu"></div>
        </div>
        <div class="col-xs-12 col-md-9">
            <div style="width:850px; height:500px">
                <table id="tt">
                </table>
            </div>
<!--            <button  onclick="exportexcel()" value="导出Excel" class="btn btn-primary">导出Excel</button>-->
        </div>
    </div>
</div>
<input class="menuId" th:value="${menuId}" th:hidden="hidden"/>
<input class="parentId" th:value="${parentId}" th:hidden="hidden"/>
</body>
<script language="JavaScript">
    function exportexcel() {
        $('#tt').tableExport({
            type: 'excel',
            fileName: new Date().getTime(),
            escape: 'false',
            ignoreColumn: '[0,2]'

        });
    }
</script>
</html>